.group17 {
  width: 737px;
  height: 826px;
  flex-shrink: 0;
  margin: auto 153px;
  /* margin-top: 55; */
  }
  
   .text {
    color: var(--2D2D2D, #2D2D2D);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  } 
  
  .group15 {
    width: 737px;
    height: 114px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-1 {
    color: var(--2D2D2D, #2D2D2D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .text-2 {
    color: var(--A445ED, #A445ED);
    font-feature-settings: 'clig' off, 'liga' off;

   /* Heading M - Sans */
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   /* margin-right: 11px; */
}

  .group4 {
    width: 75px;
    height: 75px;
    flex-shrink: 0;
    color: #A445ED;
  }
  
  .group14 {
    width: 736px;
    height: 376px;
    flex-shrink: 0;
  }
  
  .group2{
    display: inline-flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}
    
  .text-3 {
   color: var(--2D2D2D, #2D2D2D);
   font-family: Inter;
   font-size: 24px;
   font-style: italic;
   font-weight: 700;
   line-height: normal;
   /* margin-right: 20px;  */
  }
  
  /* .rectangle-icon {
    width: 656px;
    height: 1px;
    background: var(--E9E9E9, blue);
  } */

.group11{
  width: 736px;
  height: 243px;
  flex-shrink: 0;
  /* margin-top: 20px; */
  }

  .text-4{
    color: var(--757575, #757575);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 150px;
    margin-right: 222px; */
}
  
 
  
 
   